* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f3f2;
    color: black;
    cursor: pointer;
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:tomato;
}
.name:hover {
    color: tomato;
}

ul {
    list-style: none;
    margin-top: 15px;
}
.main-nav li {
    border: 1px solid #f5f3f2;
    background-color: #fff;
    margin: 3px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.main-nav {
    display: inline-block;
}
.container1 {
    text-align: center;
}
.image {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container2 {
    text-align: center;
}
.portfolio h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.inner {
    margin-top: 25px;
}
.inner p {
    margin: 0 18px;
}
.inner p:last-child {
    padding-bottom: 30px;
}
.inner img {
    width: 300px;
    height: 200px;
}
.inner h3 {
    margin: 15px 0;
}
.paragraph {
    margin: 0 18px;
}

.middle {
    background-color: #fff;
    text-align: center;
}
.container4 {
    text-align: center;
    margin: 30px 18px;
}
.container5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 100%;
}
.last {
    font-size: 10px;
}
.item {
    display: none;
}





/*Media Queries*/


@media (min-width: 768px) {
    .main-nav li {
        border: none;
        background-color: #f5f3f2;
        margin: 1.6rem;
        display: inline-block;
    }
    .container2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .paragraph {
        order: -1;
        margin-top: .8rem;
        width: 50%;
    }
    .image {
        margin-right: 1.5rem;
        width: 300px;
    }
    .container3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .TOP {
        display: none;
    }
    .item {
        display: inline-block;
        margin: 0 20px;
    }
    

}


@media (min-width: 1024px) {
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container2 {
        width: 100%;
    }
    .container3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container3 img {
        width: 250px;
    }
    .paragraph {
        width: 50%;
    }
    .TOP {
        display: none;
    }
    .item {
        display: inline-block;
        margin: 0 20px;
    }
    

    
}